*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header header"
                "playerBoard gameInfo enemyBoard"
    ;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 4fr;
}

button{
  
    padding: 5px;    
}

.header{
    grid-area: header;
    text-align: center;
    align-self: center;
}
.Board{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Player{
    grid-area: playerBoard;
    background-color: aqua;
}
.Enemy{
    grid-area: enemyBoard;
    background-color: blueviolet;
}
.Ground{
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
    grid-template-rows: repeat(10, 1fr);
}
.gameInfo{
    grid-area: gameInfo;
    background-color: brown;
}
#PlayerGround{
    border: 1px black solid;
    width: 80%;
    height: 80%;
}
#EnemyGround{
    border: 1px black solid;
    width: 80%;
    height: 80%;
}
.cell{
    border: 1px black solid;
}
#GameInfo{
    text-align: center;
    font-size: smaller;
    margin: 20px 10px 50px 10px;
}

#GameInfo h3{
    padding: 10px;
}