*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


main{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header header"
                "Player GameInfo Enemy"
    ;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 4fr;
}


header{
    background-image: url("ship.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 20%;
}

header h1{
    text-align: center;
    margin-top: 8vh;
}

.Board{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Left{
    grid-area: Player;
    background-color: #68AEB8;
}
.Right{
    grid-area: Enemy;
    background-color:  #68AEB8;
}
.Grid{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10, 1fr) ;
    grid-template-rows: repeat(10, 1fr);
}
.Middle{
    grid-area: GameInfo;
   
}


#PlayerGrid{
    border: 1px black solid;
    width: 450px;
    height: 450px;
}
#EnemyGrid{
    border: 1px black solid;
    width: 450px;
    height: 450px;
}
.cell{
    border: 1px black solid;
    width: 45px;
    height: 45px;
}

.GameInfo{
    background-color:#18130E;
    color: #8bf688;
    text-align: center;
    font-size: smaller;
    width: 400px;
    height: 35vh;
}


.GameInfo h3{
    padding: 10px;
}

.Button-Section{
    background-color: #667c3e;
    
}

#ready-b{
    background-color: rgb(165, 169, 160);
    margin-left: 25%;
    width: 100px;
}

#randomize-b{
    background-color: rgb(165, 169, 160);
    width: 100px;
}

#position-B{
    background-color: rgb(165, 169, 160);
    width: 200px;
    margin-top: 2%;
    margin-left: 25%;
}

#mute-b{
    margin-top: 30%;
    width: 20%; /* Set width as a percentage of the parent container */
    padding-top: 20%; /* Set height as a percentage of the width to maintain a perfect circle */
    border-radius: 50%; /* Make the button circular */
    background-image: url('mute.jpg');
    background-size: cover; /* Adjust background size */
    background-position: center;
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    cursor: pointer;
}

button{
  
    padding: 5px;    
}

.Ships{
    background-color: white;
    height: 42vh;
    
}


.Carrier{
    width: 225px;
    height: 45px;

    /* height: 225px;
    width: 45px; */
   
} 

.Battleship{
    width: 180px;
    height: 45px;
     
    /* width: 45px;
    height: 180px; */
    
    
    
}

.Submarine{
    width: 135px;
    height: 45px;
    
    /* width: 45px;
    height: 135px; */
    
}

.Destroyer{
    width: 135px;
    height: 45px;

    /* width: 45px;
    height: 135px; */
    
}

.Cruiser{
    width: 90px;
    height: 45px;
    
    /* width: 45px;
    height: 90px;
    */
}


.Grey{
    background-color:rgb(100, 106, 115)
}

.Yellow{
    background-color: yellow;
}

.Red{
    background-color: red;
}

.Brown{
    background-color: rgb(202, 164, 114)
}

.Green{
    background-color: green;
}
