<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Battle Ship</title>
</head>
<body>

    <main>
        <header class="header">
            <h1>BattleShip Game</h1>
        </header>
        
        <section class="Left Board">
            <div class = "Grid" id="PlayerGrid">
            </div>
        </section>
        <section class="Middle">
            <div class="GameInfo">
              <h2>Game Information</h2>
              <h3>Player</h3>
              <p>Remaining Fleet:<p>
              <h3>Enemy</h3>
              <p>Remaining Fleet:</p>
            </div>
            <div class="Button-Section"> 
              <button id="ready-b">Ready</button>
              <button id="randomize-b">Randomize</button>
              <button class="Position-B">
                Vertical
             </button>  
            </div>
            
            <div class="Ships">
                <div class="Carrier Grey" draggable="true">
                </div>

                <div class="Battleship Yellow" draggable="true">
                </div>

                
                <div class="Submarine Red" draggable="true">
                </div>

                <div class="Destroyer Brown" draggable="true">
                </div>

                <div class="Cruiser Green" draggable="true">
                </div>

 

            </div>

        </section>
        <section class="Right Board">
            <div class = "Grid" id="EnemyGrid">
            </div>
        </section>
   
    </main>


    <script src="../static/app.js"></script>
</body>
</html>
